In [42]:
import pandas as pd
import numpy as np
import janitor

In [43]:
# Reading the data into dataframes
vote = pd.read_csv("countypres_2000-2020.csv")
cost = pd.read_csv("./cost_of_living_us.csv")

In [44]:
# Cleaning the voting dataframe
vote.head()  # See which rows are unnescessary
voterecent = vote[vote.year == 2020]
vote_total = voterecent[voterecent['mode'] == "TOTAL"]
vote_total

vote = vote_total[["state", "county_name", "party", "candidatevotes", "totalvotes"]]
vote

         state county_name        party  candidatevotes  totalvotes
50524  ALABAMA     AUTAUGA     DEMOCRAT            7503       27770
50525  ALABAMA     AUTAUGA        OTHER             429       27770
50526  ALABAMA     AUTAUGA   REPUBLICAN           19838       27770
50527  ALABAMA     BALDWIN     DEMOCRAT           24578      109679
50528  ALABAMA     BALDWIN        OTHER            1557      109679
...        ...         ...          ...             ...         ...
72612  WYOMING    WASHAKIE   REPUBLICAN            3245        4032
72613  WYOMING      WESTON     DEMOCRAT             360        3560
72614  WYOMING      WESTON  LIBERTARIAN              46        3560
72615  WYOMING      WESTON        OTHER              47        3560
72616  WYOMING      WESTON   REPUBLICAN            3107        3560

[10059 rows x 5 columns]

In [56]:
# Initial vote data exploration

vote.party.unique()
# There's not so many parties that we can't reduce the row count by combining the parties onto one county

vcounty = pd.pivot_table(vote, index=["state", "county_name", "totalvotes"], columns="party", values=["candidatevotes"])
vcounty = vcounty.droplevel(0, axis = 1).reset_index()

In [57]:
vcounty.fillna(0, inplace=True)
vcounty["DEMOCRAT"] = vcounty["DEMOCRAT"]/vcounty["totalvotes"]
vcounty["GREEN"] = vcounty["GREEN"]/vcounty["totalvotes"]
vcounty["LIBERTARIAN"] = vcounty["LIBERTARIAN"]/vcounty["totalvotes"]
vcounty["OTHER"] = vcounty["OTHER"]/vcounty["totalvotes"]
vcounty["REPUBLICAN"] = vcounty["REPUBLICAN"]/vcounty["totalvotes"]

In [58]:
vcounty

party,state,county_name,totalvotes,DEMOCRAT,GREEN,LIBERTARIAN,OTHER,REPUBLICAN
0,ALABAMA,AUTAUGA,27770,0.270184,0.0,0.000000,0.015448,0.714368
1,ALABAMA,BALDWIN,109679,0.224090,0.0,0.000000,0.014196,0.761714
2,ALABAMA,BARBOUR,10518,0.457882,0.0,0.000000,0.007606,0.534512
3,ALABAMA,BIBB,9595,0.206983,0.0,0.000000,0.008755,0.784263
4,ALABAMA,BLOUNT,27588,0.095694,0.0,0.000000,0.008591,0.895716
...,...,...,...,...,...,...,...,...
2301,WYOMING,SWEETWATER,16698,0.228950,0.0,0.020961,0.017727,0.732363
2302,WYOMING,TETON,14787,0.665990,0.0,0.017245,0.023196,0.293569
2303,WYOMING,UINTA,9459,0.168200,0.0,0.018184,0.021144,0.792473
2304,WYOMING,WASHAKIE,4032,0.161458,0.0,0.016121,0.017609,0.804812
2305,WYOMING,WESTON,3560,0.101124,0.0,0.012921,0.013202,0.872753

In [51]:
# Converting votes to percentages
vcounty.columns

MultiIndex([('candidatevotes',    'DEMOCRAT'),
            ('candidatevotes',       'GREEN'),
            ('candidatevotes', 'LIBERTARIAN'),
            ('candidatevotes',       'OTHER'),
            ('candidatevotes',  'REPUBLICAN')],
           names=[None, 'party'])