In [1]:
## Import the necessary packages
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import re

In [ ]:
edu = pd.read_excel('Education.xlsx', header=3)
edu

In [ ]:
edu = edu[edu['State'] != 'PR']

In [ ]:
#edu.to_csv('edu.csv')
#edu

In [2]:
kag = pd.read_csv('cost_of_living_us.csv')
kag

,case_id,state,isMetro,areaname,county,family_member_count,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,childcare_cost,taxes,total_cost,median_family_income
0,1,AL,True,"Montgomery, AL MSA",Autauga County,1p0c,8505.72876,3454.91712,10829.16876,5737.47984,4333.81344,0.0000,6392.94504,39254.0532,73010.414062
1,1,AL,True,"Montgomery, AL MSA",Autauga County,1p1c,12067.50240,5091.70788,11588.19288,8659.55640,6217.45896,6147.8298,7422.07836,57194.3256,73010.414062
2,1,AL,True,"Montgomery, AL MSA",Autauga County,1p2c,12067.50240,7460.20308,12361.77720,11581.63260,7075.65816,15824.6940,9769.56228,76141.0308,73010.414062
3,1,AL,True,"Montgomery, AL MSA",Autauga County,1p3c,15257.15040,9952.23924,13452.18600,14503.70760,9134.35620,18802.1892,13101.70320,94203.5328,73010.414062
4,1,AL,True,"Montgomery, AL MSA",Autauga County,1p4c,15257.15040,12182.21400,13744.59840,17425.78560,9942.36396,18802.1892,13469.21880,100823.5200,73010.414062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31425,3171,WY,False,"Weston County, WY",Weston County,2p0c,8316.00000,6010.65672,14790.36240,14466.55920,5191.11288,0.0000,6640.77324,55415.4672,80177.656250
31426,3171,WY,False,"Weston County, WY",Weston County,2p1c,10956.00000,7480.86696,15611.58600,18086.24160,6680.40384,8675.8770,7933.21068,75424.1832,80177.656250
31427,3171,WY,False,"Weston County, WY",Weston County,2p2c,10956.00000,9474.35748,16163.90280,21705.92280,7402.72416,21207.6984,9502.56228,96413.1684,80177.656250
31428,3171,WY,False,"Weston County, WY",Weston County,2p3c,13632.00000,11567.46972,17118.38400,25325.60400,9130.76148,25063.6440,11456.36724,113294.2260,80177.656250
31429,3171,WY,False,"Weston County, WY",Weston County,2p4c,13632.00000,14155.81080,17184.34920,28945.28640,10068.61968,25063.6440,11484.86724,120534.5760,80177.656250

In [ ]:
#state_abv
#range(len(kag))

In [ ]:
#state_abv = []
#for i in range(1):
#    state_abv.append([re.findall('(, [A-Z]{2})', str(x)) for x in kag['areaname']][i])

In [ ]:
#kag_piv.droplevel(0, axis=1).reset_index()

In [ ]:
merge1 = pd.merge(kag, edu, left_on=['county', 'state'], right_on=['county_name', 'State'], how='inner')
merge1 = merge1.drop(columns=['State', 'county_name'])
merge1.county = merge1.county.str.replace(' County', ' ')
merge1.county = merge1.county.str.replace(' Parish', ' ')
merge1.county = merge1.county.str.strip()
merge1.info()

In [ ]:
vcounty = pd.merge(vcounty, abs, left_on = 'state', right_on = 'State', how='inner')
vcounty = vcounty.drop(columns=['State'])

vcounty.Abv = vcounty.Abv.str.strip()
vcounty.county_name = vcounty.county_name.str.strip()
vcounty.info()

In [ ]:
final = pd.merge(merge1, vcounty, left_on=['state', 'county'], right_on = ['Abv', 'county_name'], how='inner')
final.info()